---
import GlowPage from '../layouts/GlowPage.astro';

const commitSha = import.meta.env.CF_PAGES_COMMIT_SHA;
const buildTime = new Date().toISOString();

const { default: astroPkg } = await import('astro/package.json');
const { default: twPkg } = await import('tailwindcss/package.json');
const astroVersion = astroPkg.version;
const tailwindVersion = twPkg.version;
---

<GlowPage page="colophon" title="Colophon">
  <p class="glow-heading">## Built with</p>
  <ul>
    <li>
      <a href="https://astro.build">Astro</a> v{astroVersion} & <a
        href="https://tailwindcss.com">Tailwind CSS</a
      > v{tailwindVersion}
    </li>
    <li>
      Deployed on <a href="https://pages.cloudflare.com">Cloudflare Pages</a>
    </li>
  </ul>
  <p class="!mt-[0.75em]">
    {
      commitSha ? (
        <>
          Generated from commit{' '}
          <a href={`https://github.com/hcrosse/website/commit/${commitSha}`}>
            {commitSha.slice(0, 7)}
          </a>{' '}
          on {buildTime}.
        </>
      ) : (
        <>Generated on {buildTime}.</>
      )
    }
  </p>
</GlowPage>
